<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241836595294-1jchmkbl3gaqamri92dcjvp4bf9fmtiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241836595294-1jchmkbl3gaqamri92dcjvp4bf9fmtiq</string>
	<key>API_KEY</key>
	<string>AIzaSyDEtHvgjoOmrQsFFRvQEERvOHHU-aD29Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>241836595294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.libmanamica.libmanamica</string>
	<key>PROJECT_ID</key>
	<string>amica-ddef7</string>
	<key>STORAGE_BUCKET</key>
	<string>amica-ddef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241836595294:ios:f0c7d70b25eb249917bccf</string>
</dict>
</plist>